
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/search">Tìm kiếm</a>
                </li>
                <li class="nav-item" id="createBlogButton" style="display: none">
                    <a class="nav-link" href="/createBlog">Tạo bài blog</a>
                </li>
                <li class="nav-item" id="myBlogButton" style="display: none">
                    <a class="nav-link" href="/myBlog">Blog của tôi</a>
                </li>
                <li class="nav-item" id="myInfoButton" style="display: none">
                    <a class="nav-link" href="/myInfo">Thông tin của tôi</a>
                </li>
                <li class="nav-item" id="myUser" style="display: none">
                    <a class="nav-link" href="/user">Người dùng</a>
                </li>
            </ul>
            <a href="/login" class="btn btn-outline-success my-2 my-sm-0" id="loginButton">Đăng nhập</a>
        </div>
    </nav>
</header>


