<div class="container">
    <div class="update-user-page">
        <div class="update-user-page-main">
            <h2 class='mt-2 mb-4'>Tạo người dùng mới </h2>
            <form id="updateUserForm">
                <div>
                    <label for="username">Tên đăng nhập</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label style="padding-right: 41px" for="password">Mật khẩu</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <label style="padding-right: 78px" for="firstName">Tên</label>
                    <input type="text" id="firstName" name="firstName" required>
                </div>
                <div>
                    <label style="padding-right: 85px" for="lastName">Họ</label>
                    <input type="text" id="lastName" name="lastName" required>
                </div>
                <div>
                    <label style="padding-right: 34px" for="dob">Ngày sinh</label>
                    <input type="date" id="dob" name="dob" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary update-user-btn create-user-btn">Tạo </button>
                </div>

                <div id="error-message" style="color: red;"></div>
                <div id="success-message" style="color: green;"></div>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('.create-user-btn').addEventListener('click', async function(event){
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const firstName = document.getElementById('firstName').value;
        const lastName = document.getElementById('lastName').value;
        const dob = document.getElementById('dob').value;

        const token = localStorage.getItem('token');

        try {
            const response = await fetch('http://localhost:8080/users', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                    firstName: firstName,
                    lastName: lastName,
                    dob: dob
                })
            });

            if (!response.ok) {
                const errorText = await response.text();
                document.getElementById('error-message').innerText = errorText;
                return;
            }

            document.getElementById('success-message').innerText = 'User create successfully';
        } catch (error) {
            console.error('Error creating new user:', error);
            document.getElementById('error-message').innerText = 'Error creating new user. Please try again later.';
        }
    })
</script>

<script>
    // asign token to this page
    const token = localStorage.getItem('token');
    if (!token) {
        window.location.href = '/login';
    }
</script>

<script>
    // Hàm giải mã token JWT
    function parseJwt(token) {
        try {
            const base64Url = token.split('.')[1];
            const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
            const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
            }).join(''));
            return JSON.parse(jsonPayload);
        } catch (e) {
            return null;
        }
    }

    // Kiểm tra quyền của token và hiển thị các nút tương ứng
    function checkTokenScopes() {
        const token = sessionStorage.getItem('token') || localStorage.getItem('token'); // Lấy token từ session hoặc local
        console.log("token: ", token);
        if (token) {
            const decodedToken = parseJwt(token);
            console.log("decodedToken: ", decodedToken);
            if (decodedToken && decodedToken.scope) {
                const scopes = decodedToken.scope.split(' ');
                console.log("scopes: ", scopes);
                if(scopes.includes('ROLE_ADMIN')){
                    document.getElementById('myUser').style.display = 'block';
                }
                // Hiển thị nút "Tạo blog" nếu user có vai trò USER hoặc ADMIN
                if (scopes.includes('ROLE_ADMIN') || scopes.includes('ROLE_USER')) {
                    document.getElementById('createBlogButton').style.display = 'block';
                    document.getElementById('myInfoButton').style.display = 'block';
                    document.getElementById('myBlogButton').style.display = 'block'; // Nếu cần hiển thị thêm nút khác
                }
                // Ẩn nút đăng nhập
                // document.getElementById('loginButton').style.display = 'none';
            }
        }
    }

    // Kiểm tra trạng thái khi tải trang
    window.onload = function() {
        checkTokenScopes();
    };
</script>