
  <div class='container'>
    <div class='search-page'>
      <div class='search-page-main'>
        <h2 class='mt-2 mb-4'>Tìm kiếm người dùng</h2>
        <form id="searchForm" method='get' style='width: 380px' onsubmit="return false;">
          <div class='form-group'>
            <label>Nhập id người dùng muốn tìm kiếm...</label>
            <input
                    type='text'
                    id="keyword"
                    name='keyword'
                    class='form-control input-custom'
            />
          </div>
          <button
                  type='submit'
                  class='btn btn-primary search-course-btn'
          >Tìm kiếm</button>
        </form>
      </div>
      <button
              type='submit'
              class='btn btn-primary search-course-btn mt-2 create-user-btn'
      >Tạo mới người dùng </button>
      <button
              type='submit'
              class='btn btn-primary search-course-btn mt-2 export-users-btn'
      >Xuất danh sách người dùng </button>
    </div>
  </div>

  <script>
    document.querySelector('.create-user-btn').addEventListener('click', function() {
      window.location.href = '/createUser';
    });
  </script>

  <script>
    document.querySelector('.export-users-btn').addEventListener('click', function() {
      const token = localStorage.getItem('token');

      fetch('http://localhost:8080/users/export', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
          'Authorization': `Bearer ${token}`
        }

      })
              .then(response => response.blob())
              .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                a.download = 'users.xlsx';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
              })
              .catch(error => console.error('Error exporting users:', error));
    });
  </script>

<!--  js to show create user form-->
  <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const keyword = document.getElementById('keyword').value.trim();
      if (keyword) {
        window.location.href = `/userDetails/${encodeURIComponent(keyword)}`;
      } else {
        alert('Vui lòng nhập từ khóa tìm kiếm!');
      }
    });
  </script>

  <!--// js to show the search result-->
  <script>
    // Hàm giải mã token JWT
    function parseJwt(token) {
      try {
        const base64Url = token.split('.')[1];
        const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        const jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
        }).join(''));
        return JSON.parse(jsonPayload);
      } catch (e) {
        return null;
      }
    }

    // Kiểm tra quyền của token và hiển thị các nút tương ứng
    function checkTokenScopes() {
      const token = sessionStorage.getItem('token') || localStorage.getItem('token'); // Lấy token từ session hoặc local
      console.log("token: ", token);
      if (token) {
        const decodedToken = parseJwt(token);
        console.log("decodedToken: ", decodedToken);
        if (decodedToken && decodedToken.scope) {
          const scopes = decodedToken.scope.split(' ');
          console.log("scopes: ", scopes);
          if(scopes.includes('ROLE_ADMIN')){
            document.getElementById('myUser').style.display = 'block';
          }
          // Hiển thị nút "Tạo blog" nếu user có vai trò USER hoặc ADMIN
          if (scopes.includes('ROLE_ADMIN') || scopes.includes('ROLE_USER')) {
            document.getElementById('createBlogButton').style.display = 'block';
            document.getElementById('myInfoButton').style.display = 'block';
            document.getElementById('myBlogButton').style.display = 'block'; // Nếu cần hiển thị thêm nút khác
          }
          // Ẩn nút đăng nhập
          // document.getElementById('loginButton').style.display = 'none';
        }
      }
    }

    // Kiểm tra trạng thái khi tải trang
    window.onload = function() {
      checkTokenScopes();
    };
  </script>
